/* =============
    Resume
============= */

.bigwords{
    font-size: x-large;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    color: var(--DBlue);
    background-color: var(--LLBlue);
}
.main{
    border-style: double;
    border-color: var(--Orange);
    background-color: var(--LLLYellow);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    
    p h4 ul li {
        margin-left: 5px;
        background-color: var(--LLLYellow);
    }
    h3{
        color: var(--DOrange);
        font-size: larger;
    }
}
#tab{
    padding-left: 5px;
}
.littlewords{
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: x-large;
    color: var(--DBlue);
    text-align: center;
    padding-block: 0;
}