/* =============
    Base
============= */
body{
    background-color: var(--LGrey) ;
}
.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
}

.content-grid-item{
    background-color: var(--white);
    grid-area: content;
}

.me-content-right{
    //love hate
    background-color: var(--LBlue);
    a:link, a:visited{ color: var(--DYellow);
    text-decoration: none;
    }
    a:hover, a:active{ color: var(--Orange);
    }
}
#header{
    background-color: var(--DYellow)
}