/* =============
    Base
============= */
body{
    background-color: var(--LGrey) ;
}
.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
}

.content-grid-item{
    grid-area: content;
}

section{
    background-color: var(--white);
    grid-area: s;
}
aside{
    background-color: var(--LBlue)
}
