/* =============
    Header
============= */

header{
    background-color: var(--DYellow);
    a:link, a:visited{ color: var(--DBlue);
        text-decoration: none;
        }
        a:hover, a:active{ color: var(--Orange);
    
        }
}