/* =============
    Header
============= */

header{
    h1{
        font-family: 'Syne Tactile', cursive;
                font-size: xx-large;
                color: var(--Dgrey);
                text-align: center;
    }
}