/* =============
    Header
============= */

header{
  position: sticky;
    .Buttons{
       overflow: hidden;
       background-color: var(--MgreenM);
       display: block;
    }
    .buttons a{
        float: left;
        font-family: 'Syne', sans-serif;
        font-size: medium;
        color: var(--MgreenM);
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
    }
   
    .dropdown {
        background-color: var(--MgreenM);
        color: var(--DgreyM);
        padding: 3px;
        font-size: medium;
        border: none;
        outline: none;
        float: left;
        overflow: hidden;
        a:link, a:visited{ color: var(--DgreyM); text-decoration: none;}
        a:hover{background-color: var(--whiteM); color: var(--DgreyM); text-decoration: none;}
        a:active{background-color: var(--LLgreyM); text-decoration: none;}
      }
    
      .darkmode {
        background-color: var(--MgreenM);
        color: var(--DgreyM);
        padding: 3px;
        font-size: medium;
        border: none;
        outline: none;
        float: right;
        overflow: hidden;
      }

      .dropbtn{
        font-size: medium;
        color: var(--DgreyM);
        font-family: inherit;
        background-color: inherit;
        margin: 0;
        padding: 3px;
        outline: none;
        border: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--greyM);
        a:link, a:visited{ color: var(--MgreenM);}
        a:hover, a:active{background-color: var(--DgreyM); color: var(--MgreenM)}
        box-shadow: 0px 8px 16px 0px var(--blackM);
        z-index: 1;
      }
      .dropdown-content a {
        float: none;
        padding: 3px 3px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropdown:hover .dropdown-content {display: block;}
      .buttons a:hover, .dropdown:hover .dropbtn{background-color: var(--LLgreyM);}
      .Buttons a.active{ background-color: var(--DgreenM); text-decoration: none ;}
}

