/* =============
    test
============= */
.test .test-area-1 {
  background-color: var(--Lpurp);
}
.test .test-area-1 #test11 {
  font-family: "Annie Use Your Telescope", cursive;
  color: var(--NEON);
}
.test .test-area-1 #test12 {
  font-family: "Gloria Hallelujah", cursive;
  color: var(--Dpurp);
}
.test .test-area-1 #test13 {
  font-family: "Permanent Marker", cursive;
  color: var(--purp);
  background-color: var(--Mgreen);
}
.test .test-area-1 #test14 {
  font-family: "Schoolbell", cursive;
  color: var(--Lpurp);
  background-color: var(--Dpurp);
}
.test .test-area-1 #test15 {
  font-family: "Caveat Brush", cursive;
  color: var(--NEON);
  background-color: var(--Dpurp);
}
.test .test-area-1 #test16 {
  font-family: "Advent Pro", sans-serif;
  color: var(--Dpurp);
  background-color: var(--NEON);
}
.test .test-area-1 #test17 {
  font-family: "Nothing You Could Do", cursive;
  color: var(--Mgreen);
  background-color: var(--purp);
}
.test .test-area-2 {
  background-color: var(--Lgrey);
}
.test .test-area-2 #test21 {
  font-family: "Creepster", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--Mgreen);
  background-color: var(--Dgrey);
}
.test .test-area-2 #test22 {
  font-family: "Handlee", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--Dpurp);
  background-color: var(--grey);
}
.test .test-area-2 #test23 {
  font-family: "Nosifer", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--Mgreen);
  background-color: var(--grey);
}
.test .test-area-2 #test24 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--Mgreen);
  background-color: var(--LLgrey);
}
.test .test-area-2 #test25 {
  font-family: "Rubik Glitch", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--NEON);
  background-color: var(--Dgrey);
}
.test .test-area-2 #test26 {
  font-family: "Rubik Wet Paint", cursive;
  text-align: center;
  font-size: x-large;
  color: var(--Dgrey);
  background-color: var(--LLgrey);
}
.test .test-area-2 #test27 {
  font-family: "Syne Mono", monospace;
  text-align: center;
  font-size: x-large;
  color: var(--Lgrey);
  background-color: var(--grey);
}