/* =============
    Base
============= */

body{
    height: 100%;
    background-color: var(--DDgreyM);
    
    #back{
    background-image: url(img\WIP.svg) ;
    background-size: fill;
    }
    .base{
        display: grid;
        height: 100%;
        grid-template-rows: auto 90% auto;
        grid-template-columns: Repeat(3, auto);
        grid-template-areas: 
        "h h h"
        "s s s"
        "f f f";
    }
}

header{
    grid-area: h;
    background-color: var(--greyM);
}
section{
    grid-area: s;
    padding: 16px;
    padding-bottom: 40px;
}
footer{
    grid-area: f;
    background-color: var(--greyM);
}
button{
    background-color: var(--MgreenM);
    color: var(--DgreyM);
    font-family: inherit;
}

@media screen and (min-width: 650px) {
    body{
        height: 100%;
        .base{
            display: grid;
            height: 100%;
            grid-template-rows: Auto 90% Auto;
            grid-template-columns: auto 90% auto;
            grid-template-areas: 
            "h h h"
            ". s ."
            "f f f";
        }
        section{
            max-width: 900px;
        }
    }
}

@media screen and (min-width: 950px ) {
    body{
        height: 100%;
        .base{
            display: grid;
            height: 100%;
            grid-template-rows: Auto 90% Auto;
            grid-template-columns: auto 900px auto;
            grid-template-areas: 
            "h h h"
            ". s ."
            "f f f";
        }
        section{
            max-width: 900px;
        }
    }
}

#Video{
    display: block;
    margin: auto;
    text-align: center;
}