/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --Dpurp: #1A090D;
  --purp: #4A314D;
  --Lpurp: #6B6570;
  --Mgreen: #A8BA9A;
  --NEON: #ACE894;
  //color theme alternative
  --orange: #EB5E28;
  --Dgrey: #252422;
  --grey: #403D39;
  --Lgrey: #CCC5B9;
  --LLgrey: #FFFCF2;
}

