/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
:root {
  --blackM: #000000;
  --whiteM: #ffffff;

  --LgreenM: #d2e2c5;
  --MgreenM: #A8BA9A;
  --DgreenM: #627752; 

  --DgreyM: #252422;
  --greyM: #403D39;
  --LgreyM: #CCC5B9;
  --LLgreyM: #FFFCF2;
  
// light mode:
  --black: #000000;
  --white: #ffffff;

  --Lgreen: #d2e2c5;
  --Mgreen: #A8BA9A;
  --Dgreen: #627752; 

  --Dgrey: #252422;
  --grey: #403D39;
  --Lgrey: #CCC5B9;
  --LLgrey: #FFFCF2;

}

[data-dark-mode]{
  --black: #FFFCF2;
  --white:#252422;

  --Lgreen: #627752;
  --Mgreen: #A8BA9A;
  --Dgreen: #d2e2c5; 

  --Dgrey: #FFFCF2;
  --grey: #CCC5B9;
  --Lgrey: #403D39;
  --LLgrey: #252422;
}